/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
  height: 100%;
  background-color: #091246;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.refresh {
  background-color: transparent;
  border: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-image: url(img/icons8-replay-48.png);
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.moon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*height: 100%;*/
  width: 70%;
  margin-top: 1%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.row1 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row2 {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.row3 {
  width: 85%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.moon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.moon-phase {
  color: #f3f0ae;
  text-align: center;
  font-size: 28px;
  font-family: serif;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  height: 180px;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 20px 0px #f5f3ce;
  box-shadow: inset 0px 0px 20px 0px #f5f3ce;
}

.name {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 0;
  visibility: hidden;
  -webkit-animation-name: fadeIn1;
  animation-name: fadeIn1;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.name1 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.name2 {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.name3 {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.name4 {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.name5 {
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}

.name6 {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

.name7 {
  -webkit-animation-delay: 35s;
  animation-delay: 35s;
}

.name8 {
  -webkit-animation-delay: 40s;
  animation-delay: 40s;
}

.name9 {
  text-align: center;
  margin-bottom: 14%;
  height: 0;
  visibility: hidden;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 45s;
  animation-delay: 45s;
}

.name9 a {
  color: #f3f0ae;
  text-decoration: none;
  -webkit-transition: auto;
  -o-transition: auto;
  transition: auto;
  text-shadow: 2px 2px 2px #e0cccc
}

.new-moon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.waxing-cre {
  margin-right: 30%;
  margin-top: 2%;
  background-color: transparent;
  -webkit-box-shadow: inset -12px 0px #F5F3CE, inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset -12px 0px #F5F3CE, inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.first-quater {
  -webkit-box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  background: -o-linear-gradient(right, #F5F3CE 50%, transparent 50%);
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #F5F3CE), color-stop(50%, transparent));
  background: linear-gradient(-90deg, #F5F3CE 50%, transparent 50%);
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

.waxing-gib {
  margin-top: 2%;
  background-color: #F5F3CE;
  -webkit-box-shadow: inset 20px 0px #091246eb, inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 20px 0px #091246eb, inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

.full-moon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #F5F3CE;
  -webkit-box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 25s;
  animation-delay: 25s;
}

.wanning-gib {
  background-color: #F5F3CE;
  -webkit-box-shadow: inset -20px 0px #091246eb, inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset -20px 0px #091246eb, inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}

.third-quater {
  -webkit-box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 0px 0px 6px 0px #f5f3ce4f;
  background: -o-linear-gradient(left, #F5F3CE 50%, transparent 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #F5F3CE), color-stop(50%, transparent));
  background: linear-gradient(90deg, #F5F3CE 50%, transparent 50%);
  -webkit-animation-delay: 35s;
  animation-delay: 35s;
}

.wanning-cre {
  margin-right: 30%;
  margin-bottom: 2%;
  background-color: transparent;
  -webkit-box-shadow: inset 12px 0px #F5F3CE, inset 0px 0px 6px 0px #f5f3ce4f;
  box-shadow: inset 12px 0px #F5F3CE, inset 0px 0px 6px 0px #f5f3ce4f;
  -webkit-animation-delay: 40s;
  animation-delay: 40s;
}

@media only screen and (max-width: 480px) {
  .moon-container {
    width:100%;
  }
  .moon {
    width: 80px;
    height: 80px;
  }
  .row {
    width: 100%;
  }
  .moon-phase {
    width:120px;
    height: 80px;
    font-size: 16px;
  }
  .row3 {
    width: 100%;
  }
} 

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .moon-container {
    width:100%;
  }
} 

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }

  50% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}